
<div class="product-details-container">

<article  >
    <div  *ngIf="pizza" class="pizzaImg-container">
        <img src="{{pizza.imgUrl}}" alt=""> 
    </div>

    <form>
            <h1 class="productName">{{pizza.name}}</h1>
            <p class="descr">{{pizza.description}}</p>
            
            <fieldset>
                <legend>Select size</legend>
            
                <div>
                  <input type="radio" id="small" name="size" value="small"
                         checked>
                  <label for="small">Small</label>
                </div>
            
                <div>
                  <input type="radio" id="medium" name="size" value="medium">
                  <label for="medium">Medium</label>
                </div>
            
                <div>
                  <input type="radio" id="large" name="size" value="large">
                  <label for="large">Large</label>
                </div>
                <div>
                    <input type="radio" id="xxl" name="size" value="xxl">
                    <label for="xxl">XXL</label>
                  </div>
            </fieldset>

            <p class="cost">That will cost:<span>{{pizza.price}}$</span></p>
            <button>Add to cart</button>

    </form>
</article>

</div>