
.product-details-container{
    background-image: url('../../../assets/images//pizza-images/bck/hmm.jpg');
    background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center; 
   height: calc(100vh -  79px)
}






.pizzaImg-container img{
    width:100%
}

.pizzaImg-container{
    max-width:800px
}


.product-details-container article{
    display: flex;
  margin:auto;
  gap :2rem;
  margin-bottom: 0px;
  align-items: center;



}
form{
    border: 2px solid #ccc;
    border-radius:12px;
    background-color: #8989893c;
    height:fit-content;
    padding:1rem;
    

}