<div class="container-login">
    <div class="content-login">
        <section class="section-login">
            <img src="../../../assets/images/login-removebg-preview.png" alt="">
            <h1>WELCOME</h1>
            <form action="">
                <div>
                    <i class="fa-regular fa-user"></i>
                    <input type="text" name="username" placeholder="username" id="username">
                </div>
                <div><i class="fa-solid fa-lock"></i>
                    <input type="password" name="password" placeholder="password" id="password">
                </div>
                <button class='btn-login'type="submit">LOGIN</button>
            </form>
        </section>
    </div>
</div>