.container-login {
    background-image: url('../../../assets/images/ll.jpg');
    background-size: cover;
    height: 65vh;
    margin: 0 auto;
    text-align: center;
}

.content-login {
    transform: translate(0%, 70%);
}

.section-login {
    width: 500px;
    padding: 2rem;
    border-radius: 30px;
    background-color: #6666667d;
    margin: 0 auto
}
.section-login>h1{
    font-size: 30px;
    font-family: Caveat;
    color: #fff;
text-shadow: 1px 3px 0 #969696, 1px 13px 5px ;
padding:1rem
}

.section-login>img {
    width: 120px;
    border: 1px solid;
    border-radius: 50%;
    height: 120px;
}
