<main>
    <div class="container-Contact">
        <div class="cont-contact">
   <div class="pizza-girl-img">
    <img src="../../../assets/images/Donevi's Pizzeria.png" alt="">
   </div>
   <div class="formC">
    <form >
        <label for="fname">Full Name</label>
        <input type="text" name="fname" >

        <label for="email">Email</label>
        <input type="text" name="email" >

        <label for="message">Message</label>
        <textarea type="text" name="message" ></textarea>
          
        <button class="sbm-btn" type="submit" name="btn">SEND</button>
    </form>
   </div>
</div>
</div>
</main>