<div class="container-messages">

<!-- 
    <ul>
        <li *ngFor="let item of data">
          {{ item.email }}
          {{ item.name }}
          {{ item.message }}
        
      
          <button (click)="deleteData(item.id)">
            Delete
          </button>
        </li>
      </ul> -->

    <table>
        <tr class="main-tr">
            <th class="name">Full name</th>
            <th class="email">email</th>
            <th class="message">Message</th>
            <th class="delete">Delete</th>

        </tr>

        <tr *ngFor="let item of data">
            <td class="tdname">{{ item.fname }}</td> 

                       <td class="tdemail"> {{ item.email }}</td>

            <td class="tdmes"> {{ item.message }}</td>
            <button class="del-btn" (click)="deleteData(item.id)">
            Delete
          </button>
        </tr>

    </table>


 <!-- <div class="parent">
    <div class="div1 name"> Full Name</div>
    <div class="div2 email">Email </div>
    <div class="div3 message">Message</div>
    <div class="div4">Maria </div>
    <div class="div5"> maria@abv.bg </div>
    <div class="div6"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio fuga aliquam animi eum praesentium numquam quos facere, dolorum nam! Amet hic illum natus quidem tenetur mollitia incidunt possimus laborum cupiditate.</div>
    <div class="div7">Boyana </div>
    <div class="div8"> boyana@abv.bg</div>
    <div class="div9"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus accusantium placeat ex laudantium quod excepturi at ullam exercitationem, beatae minus odio, ducimus recusandae consequuntur quibusdam quis porro quisquam non reiciendis.</div>
   
    </div> -->

</div>