<div class="container-messages">

<!-- 
    <table>
        <tr class="main-tr">
            <th class="heading name">Full name</th>
            <th class="heading em">email</th>
            <th class="heading mes">Message</th>
        </tr>
        <tr>
            <td>maria maria </td>
            <td>maria.abv.bg</td>
            <td> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi itaque ex quidem praesentium, magni
                error est blanditiis voluptatum aspernatur deserunt minus culpa, numquam possimus unde aliquid quae
                quam. Aspernatur, iure.</td>
        </tr>

    </table>
 -->

 <div class="parent">
    <div class="div1 name"> Full Name</div>
    <div class="div2 email">Email </div>
    <div class="div3 message">Message</div>
    <div class="div4">Maria </div>
    <div class="div5"> maria@abv.bg </div>
    <div class="div6"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio fuga aliquam animi eum praesentium numquam quos facere, dolorum nam! Amet hic illum natus quidem tenetur mollitia incidunt possimus laborum cupiditate.</div>
    <div class="div7">Boyana </div>
    <div class="div8"> boyana@abv.bg</div>
    <div class="div9"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus accusantium placeat ex laudantium quod excepturi at ullam exercitationem, beatae minus odio, ducimus recusandae consequuntur quibusdam quis porro quisquam non reiciendis.</div>
   
    </div>

</div>