<header id="header" class="header">
    <div class="navbar">
        <div>
            <img class="logo-nav" src="../../../images/logo-nav-new.png" />
        </div>

        <div class="nav-links">
            <a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true}> Home </a>
            <a routerLink="menu" routerLinkActive="active-link"> Menu </a>
            <a routerLink="about" routerLinkActive="active-link"> About </a>
            <a routerLink="contact" routerLinkActive="active-link"> Contact </a>
        </div>
      
    </div>
</header>