<div class="container-login">
    <div class="content-login">
        <section class="section-login">
            <img src="../../../assets/images/login-removebg-preview.png" alt="">
            <h1>WELCOME </h1>
            <form action="">
                <div>
                    <i class="fa-regular fa-user"></i>
                    <input class='inp-log' type="text" name="email" placeholder="email" id="email" [(ngModel)]="email">
                </div>
                <div><i class="fa-solid fa-lock"></i>
                    <input class='inp-log' type="password" name="password" placeholder="password" id="password" [(ngModel)]="password"> 
                </div>
                <div><i class="fa-solid fa-lock"></i>
                    <input class='inp-log' type="password" name="PasMatch" placeholder="repeat your password" id="password"  [ngModel]="PasMatch"> 
                </div>
                <p>{{errorMessageLog}}</p>

                <button class='btn-login'type="submit" (click)="register()">Register</button>
            </form>
        </section>
    </div>
</div>