<main>
    <div class="main">
        <div class="home">
            <div class="main-content">
                <h1> Donevis's Pizzeria </h1>
                <p class="home-p"> Do good. Be nice. Order pizza. Repeat.</p>
                <div class="order-btn-parrent">
                    <a class="order-btn glow-on-hover" routerLink="menu"> ORDER NOW </a>

                </div>
            </div>

        </div>
    </div>
    <section class="home-deliv-section">
        <h2>Easy in <span>three steps... </span></h2>
        <div class="steps-container">
            <div class="steps">
                <p class="num">1</p>
                <p>select your meal</p>
            </div>
            <div class="steps">
                <p class="num">2</p>
                <p>fill the details</p>
            </div>
            <div class="steps">
                <p class="num">3</p>
                <p>your order delivered in minute</p>
            </div>
        </div>

        <div class="offer-of-the-day">
            <div>
                <h1 class="dealOfDay">
                    DEAL OF THE DAY
                </h1>
                
                <div class="img-container">
                    <img src="../../../assets/images/pizza-images/deals/combo-4family.png" alt="">
                </div>
                <h3>Combo Deal</h3>
                <p>pay<span>45.00$</span>instead of<span class="scratch">60.00$</span></p>
            </div>
        </div>
    </section>
</main>