 <!--------------------- this is the menu ---------------------------->
 <main>
 <div class="options">
    <div class="options-container">
        <p class="options-label">
            Deals
        </p>
        <img src="../../../assets/images/pizza-images/icons-menu/320-3204667_pizza-pepperoni-png-transparent-png-removebg-preview.png"
            alt="">
    </div>
    <div class="options-container">

        <p class="options-label">
            Pizza
        </p>
        <img src="../../../assets/images/pizza-images/icons-menu/png-transparent-pizza-pizza-food-bread-removebg-preview.png" alt="">
    </div>
    <div class="options-container">
        <p class="options-label">
            Salad
        </p>
        <img src="../../../assets/images/pizza-images/icons-menu/salat-icon-removebg-preview.png" alt="">
    </div>
    <div class="options-container">
        <p class="options-label">
            Dessert
        </p>
        <img src="../../../assets/images/pizza-images/icons-menu/deserts.png" alt="">
    </div>
    <div class="options-container">
        <p class="options-label">
            Drinks
        </p>
        <img src="../../../assets/images/pizza-images/icons-menu/drinks-icon-removebg-preview.png" alt="">

    </div>
</div></main>